*{
    margin: 0;
    padding: 0;
}

nav{
    background: #6a74ff;

    display: flex;
    align-items: center;

    min-height: 10vh;
    max-height: 10vh;
}

nav ul{
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 4rem;
    gap: 2rem;
}

nav li{
    font: 1.5rem sans-serif;
}

nav a{
    text-decoration: none;
    line-height: 1rem;
    color: #ffffff;
    transition: 250ms ease-in-out;
}

nav a:hover{
    color: #c8c8c8;
    transition: 250ms ease-in-out;
}

main{
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home p, .about p{
    font: 2rem sans-serif;
}